#hs-sign {
  background-color: #fafafa;
  margin-bottom: 40px !important;
  .sb-row {
    height: auto;
  }
  .sb-content {
    padding: 100px 0px;
  }
  h1 {
    padding: 40px;
  }
  button{
      padding-top: 20px;
      padding-bottom: 20px;
  }
}
