@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";
@import "../../../Button/button";

@mixin div-shared ($padding) {
  padding: $padding;
  box-sizing: border-box;
  white-space: pre-line;
}

#bb-s {
  height: 100%;
}

.bb-banner {
  background: #333 no-repeat;
  background-image: url(../medias/images/bg_map_800x800.jpg);
  background-position: center;
  background-repeat: repeat;
  height: 695px;
  padding: 0px !important;
  .bb-banner-wrapper {
    background-image: url(../medias/images/bb_street_bg_1200x800.jpg);
    background-position-x: right;
    background-position-y: center;
    background-size: cover;
    height: inherit;
  }
}
.bb-title-wrapper {
  @include div-shared(8rem 5rem 1rem 0rem);
}

.bb-act-prev {
  @include div-shared(8rem 0rem 0rem 0rem);
  h5{
      font-weight: 700;
      color:#000;
  }
}

#bb-s {
  height: 100%;
}