// Global.scss
// Include all of styles used globally

@import "../components/Page/Home/home";
@import "../components/Header/header";
@import "../components/Menu/SideNav/sidenav";
@import "../components/Button/button";
@import "../components/Footer/footer";
@import "../components/Page/page";
@import "../components/Page/Login/login";
@import "../components/Page/Register/register";
@import "../styles/animations";

// Global settings

$font-stack: "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
$primary-color: #0047d7;
$alternate-color: #000000;
$subtitute-color: #333;
$gl-space: 185px;

%bg-shared {
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// Global styles
html,
body {
  font-family: $font-stack;
  color: $subtitute-color;
}

section {
  min-width: 100%;
  margin-bottom: 185px;
}

.hero {
  position: fixed;
  height: 100vh;
  padding: 0rem 5rem;
  // background: rgba(0, 0, 0, 0.75);
  background: rgba(19, 19, 19, 0.86);
  z-index: $zindex-fixed;
  overflow: hidden;
  transition: 300ms all ease;
  .closebtn {
    display: flex;
    justify-content: flex-end;
    height: 35px;
    color: #ffffff;
    cursor: pointer;
    clear: both;
    .material-icons,
    .close {
      font-size: 35px !important;
    }
  }
}
