%link-shared {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1080 / 1220 * 100%;
}
.navbar {
  a {
    @extend %link-shared;
    font-weight: 600 !important;
  }
  a:hover {
    color: rgb(0, 71, 215);
  }
  .menu {
    color: rgb(0, 71, 215);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .material-icons {
      font-size: 35px;
    }
  }
}
